# 01 Lab:  Practical Pandas

In [1]:
%matplotlib inline
import pandas as pd
import os

data = pd.read_csv(os.path.join('..', 'data', 'ozone.csv'))

In [2]:
data.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

Print the column names of the dataset to the screen, one column name per line.

Extract the first 2 rows of the data frame and print them to the console. What does the output
look like?

How many observations (i.e. rows) are in this data frame?

Extract the last 2 rows of the data frame and print them to the console. What does the output
look like?

What is the value of Ozone in the 47th row?

How many missing values are in the Ozone column of this data frame?

What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA)
from this calculation.

Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values
are above 90. What is the mean of Solar.R in this subset?

What is the mean of "Temp" when "Month" is equal to 6?

What was the maximum ozone value in the month of May (i.e. Month = 5)?

Take a look at `.value_counts()`. What is the frequency distribution for Temperature like?


What were the min and max Temp for each month?

How do you calculate the summary statistics using `.describe()` for each month?


How could you use `seaborn.distplot()` with this dataset? Plot an example.


How could you use `seaborn.jointplot()` with this dataset? Plot an example.

How could you use `seaborn.pairplot()` with this dataset? Show an example.

How could you use `seaborn.lmplot()` with this dataset? Show an example.